{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base-layout.html" %}
{% block content %}

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ title }}
                    <small>UMW Honors Program</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">{{ title }}</li>
                </ol>
            </div>
        </div>
        
        <!-- Menu Buttons -->
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group">
                    {% if current_user.is_authenticated %}
                        {% if current_user.is_admin %}
                                <a href="{{ url_for('admin.upload') }}"><button type="button" class="btn btn-default">Upload</button></a>
                                <a href="{{ url_for('admin.search') }}"><button type="button" class="btn btn-default">Search</button></a>
                                <a href="{{ url_for('admin.add_announcement') }}"><button type="button" class="btn btn-default">Add Announcement</button></a>
                                <a href="{{ url_for('admin.add_date') }}"><button type="button" class="btn btn-default">Add Date</button></a>
                        {% endif%}
                    {% endif %}
                </div>
            </div>
        </div>
        
        <!-- Body -->
        <div class="row">
            <div class="col-lg-12">
                <br />
                {{ utils.flashed_messages() }}
                <br /> 
                
                <!-- Edit Announcements -->
                <div class="col-lg-6">
                    <h3>Announcements</h3>
                    {% if announcements %}
                    {% for announcement in announcements %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4>{{ announcement.title }}</h4>
                                </div>
                                <div class="col-md-2">
                                    <a href="{{ url_for('admin.edit_announcement', id=announcement.id) }}"><span class="fa fa-pencil-square-o"></span></a>
                                    <a href="{{ url_for('admin.delete_announcement', id=announcement.id) }}"><span class="fa fa-trash-o"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>{{ announcement.description }}</p>
                            <p>Created: {{ announcement.created.strftime('%b %d, %Y')}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <!-- Edit Dates -->
                <div class="col-lg-6">
                    <h3>Important Dates</h3>
                    {% if dates %}
                    {% for date in dates %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4>{{ date.title }}</h4>
                                </div>
                                <div class="col-md-2">
                                    <a href="{{ url_for('admin.edit_date', id=date.id) }}"><span class="fa fa-pencil-square-o"></span></a>
                                    <a href="{{ url_for('admin.delete_date', id=date.id) }}"><span class="fa fa-trash-o"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>{{ date.date_time.strftime('%b %d, %Y') }}</p>
                            <p>{{ date.info }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    
                    {% else %}
                        <p>There are no dates to display.</p>
                    {% endif %}
                    
                    
                </div>

            </div>
            
        </div>

{% endblock %}