{% extends "base-layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <img class="img-responsive" src="../static/img/dupont.jpg">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="media">
          
          <div class="media-left">
            <img src="../static/img/Primary-UMW-Color.jpg" class="media-object">
          </div>
          
          <div class="media-body">
            <h1 class="media-header">Welcome!</h1>
            <p>UMW students enrolled in the Honors Program can create and log into accounts to view their Honors Requirements Checksheets.</p>
          </div>
          
        </div>
      </div>
    </div>
    
    
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          
          <div class="panel panel-default" background-color=#d12627>
            <div class="panel-heading">
              <h2>Upcoming Deadlines</h2>
            </div>
            
            <div class="panel-body">
              <h4><strong>March 27, 2017</strong></h4>
              <li>Fall 2017 Advance Registration Begins</li>
              <p></p>
              
              <h4><strong>April 7, 2017</strong></h4>
              <li>Fall 2017 Advance Registration Ends</li>
              <p></p>
            </div>
            
          </div>
          
        </div>
        
        <div class="col-md-8">
          <div class="page-header"><h2>Announcements</h2></div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          
          <div class="page-header"><h2>Fall 2017 Honors Courses</h2></div>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        
      </div>
    </div>
{% endblock %}