{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base-layout.html" %}
{% block content %}
    <img class="img-responsive" src="../static/img/dupont.jpg">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container jumbotron">
      <div class="row">
        <div class="col-lg-6">
          <h1>Welcome! </h1>
          <p>Are you a UMW Honors Program student? <br />Create an account now to view your checksheet <br /> and track your progress!</p>
          <p><a class="btn btn-primary btn-lg" href="{{ url_for('auth.register') }}" role="button">Create an account here! &raquo;</a></p>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default" style="color: #000;">
            <div class="panel-body">
              <p>Already have an account? Login here</p>
              {{ utils.flashed_messages() }}
              <br />
              {{ wtf.quick_form(formLogin) }}
              <br />
              <a href="{{ url_for('auth.forgotpassword') }}">Forgot Password</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <h2>Honors Program Information</h2>
          <br>
          <!--
          <ul>
            </li><a href="http://academics.umw.edu/honorsprogram/">Honors Program Home Page</a></li>
          </ul>
          <ul>
            </li><a href="http://academics.umw.edu/honorsprogram/approved-honors-courses/">Honors Program Courses</a></li>
          </ul>
          <ul>
            </li><a href="https://banner.umw.edu/prod/umw_clas.p_displayallnocount">UMW Schedule of Courses</a></li>
          </ul>
          <ul>
            </li><a href="http://academics.umw.edu/honorsprogram/files/2017/01/application_s17.pdf">Honors Program Application</a></li>
          </ul> -->
          
          <a href="http://academics.umw.edu/honorsprogram/" class="btn btn-info" role="button">Honors Program Home Page</a>
          <a href="http://academics.umw.edu/honorsprogram/approved-honors-courses/" class="btn btn-info" role="button">Honors Program Courses</a>
          <br>
          <br>
          <a href="https://banner.umw.edu/prod/umw_clas.p_displayallnocount" class="btn btn-info" role="button">UMW Schedule of Courses</a>
          <a href="http://academics.umw.edu/honorsprogram/files/2017/01/application_s17.pdf" class="btn btn-info" role="button">Honors Program Application</a>


        </div>
        <div class="col-md-4">
          
          <div class="panel panel-default" background-color=#d12627>
            <div class="panel-heading">
              <h2>Important Dates</h2>
            </div>
            
            <div class="panel-body">
            
              {% for date in dates %}
              <h4><strong>{{date.date_time}}</strong></h4>
              <li><strong>{{date.title}}</strong></li>
              <p></p>
              {% endfor %}
            
              <h4><strong>March 27, 2017</strong></h4>
              <li>Fall 2017 Advance Registration blip</li>
              <p></p>
              
              <h4><strong>April 7, 2017</strong></h4>
              <li>Fall 2017 Advance Registration Ends</li>
              <p></p>
              
            </div>
            
          </div>
          
        </div>
        
      </div>
    </div>
{% endblock %}