{% extends "sidebar-layout.html" %}
{% block content %}

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ title }}
                    <small>UMW Honors Program</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">{{ title }}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

  <h3><font color=5b6ab9>Honors Designated Course Requirements</font></h3>


<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Course Name</th>
      <th>Course Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" width="30%">HONR 100</th>
      <td BGCOLOR="#808080"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">HN Course 1</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">HN Course 2</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">HN Course 3</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">HN Course 4</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">HN Course 5</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">HONR 201</th>
      <td BGCOLOR="#808080"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Research Course</th>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">Capstone Course</th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

  <h3><font color=5b6ab9>Co-Curricular Requirements</font></h3>

  <table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Co-Curricular Name</th>
      <th>Co-Curricular Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" width="30%">Co-Curricular 1</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 2</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 3</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 4</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 5</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 6</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 7</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 8</th>
      <td></td>
      <td></td>
    </tr>
     
  </tbody>
</table>

  <h3><font color=5b6ab9>Honors Portfolio Requirements</font></h3>

  <table class="table table-bordered">

  <tbody>
    <tr>
      <th scope="row">HONR Portfolio 1</th>
      <td width="70%"></td>
    </tr>
    <tr>
      <th scope="row">HONR Portfolio 2</th>
      <td width="70%"></td>
    </tr>
    <tr>
      <th scope="row">HONR Portfolio 3</th>
      <td width="70%"></td>
    </tr>
    <tr>
      <th scope="row">HONR Portfolio 4</th>
      <td width="70%"></td>
    </tr>
     
  </tbody>
</table>

  <h3><font color=5b6ab9>Additional Requirements</font></h3>

  <table class="table table-bordered">

  <tbody>
    <tr>
      <th scope="row">Leadership</th>
      <td width="70%"></td>
    </tr>
    <tr>
      <th scope="row">Mentoring</th>
      <td width="70%"></td>
    </tr>
    <tr>
      <th scope="row">Exit Interview</th>
      <td width="70%"></td>
    </tr>
  </tbody>
</table>
            </div>
        </div>
        
{% endblock %}