{% extends "sidebar-layout.html" %}
{% block content %}

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ title }}
                    <small>UMW Honors Program</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">{{ title }}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

  <h3><font color=5b6ab9>Honors Designated Course Requirements</font></h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Course Name</th>
      <th>Course Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" width="30%">HONR 100</th>
      <td>{{ checksheet.fsemHN }}</td>
      <td>{{ checksheet.fsemHNDate }}</td>
    </tr>
    <tr>
      <th scope="row">HN Course 1</th>
      <td>{{ checksheet.hnCourse1 }}</td>
      <td>{{ checksheet.hnCourse1Date }}</td>
    </tr>
    <tr>
      <th scope="row">HN Course 2</th>
      <td>{{ checksheet.hnCourse2 }}</td>
      <td>{{ checksheet.hnCourse2Date }}</td>
    </tr>
    <tr>
      <th scope="row">HN Course 3</th>
      <td>{{ checksheet.hnCourse3 }}</td>
      <td>{{ checksheet.hnCourse3Date }}</td>
    </tr>
    <tr>
      <th scope="row">HN Course 4</th>
      <td>{{ checksheet.hnCourse4 }}</td>
      <td>{{ checksheet.hnCourse4Date }}</td>
    </tr>
    <tr>
      <th scope="row">HN Course 5</th>
      <td>{{ checksheet.hnCourse5 }}</td>
      <td>{{ checksheet.hnCourse5Date }}</td>
    </tr>
    <tr>
      <th scope="row">HONR 201</th>
      <td>{{ checksheet.hon201 }}</td>
      <td>{{ checksheet.hon201Date }}</td>
    </tr>
    <tr>
      <th scope="row">Research Course</th>
      <td>{{ checksheet.researchCourse }}</td>
      <td>{{ checksheet.researchCourseDate }}</td>
    </tr>
     <tr>
      <th scope="row">Capstone Course</th>
      <td>{{ checksheet.capstoneCourse }}</td>
      <td>{{ checksheet.capstoneCourseDate }}</td>
    </tr>
  </tbody>
</table>

  <h3><font color=5b6ab9>Co-Curricular Requirements</font></h3>

  <table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Co-Curricular Name</th>
      <th>Co-Curricular Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" width="30%">Co-Curricular 1</th>
      <td>{{ checksheet.coCur1 }}</td>
      <td>{{ checksheet.coCurDate1.strftime('%m-%d-%Y') }}</td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 2</th>
      <td>{{ checksheet.coCur2 }}</td>
      <td>{{ checksheet.coCurDate2.strftime('%m-%d-%Y') }}</td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 3</th>
      <td>{{ checksheet.coCur3 }}</td>
      <td>{{ checksheet.coCurDate3.strftime('%m-%d-%Y') }}</td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 4</th>
      <td>{{ checksheet.coCur4 }}</td>
      <td>{{ checksheet.coCurDate4.strftime('%m-%d-%Y') }}</td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 5</th>
      <td>{{ checksheet.coCur5 }}</td>
      <td>{{ checksheet.coCurDate5.strftime('%m-%d-%Y') }}</td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 6</th>
      <td>{{ checksheet.coCur6 }}</td>
      <td>{{ checksheet.coCurDate6.strftime('%m-%d-%Y')}}</td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 7</th>
      <td>{{ checksheet.coCur7 }}</td>
      <td>{{ checksheet.coCurDate7.strftime('%m-%d-%Y') }}</td>
    </tr>
    <tr>
      <th scope="row">Co-Curricular 8</th>
      <td>{{ checksheet.coCur8 }}</td>
      <td>{{ checksheet.coCurDate8.strftime('%m-%d-%Y') }}</td>
    </tr>
     
  </tbody>
</table>

  <h3><font color=5b6ab9>Honors Portfolio Requirements</font></h3>

  <table class="table table-bordered">

  <tbody>
    <tr>
      <th scope="row">HONR Portfolio 1</th>
      <td width="70%">{{ checksheet.portfolio1 }}</td>
    </tr>
    <tr>
      <th scope="row">HONR Portfolio 2</th>
      <td width="70%">{{ checksheet.portfolio2 }}</td>
    </tr>
    <tr>
      <th scope="row">HONR Portfolio 3</th>
      <td width="70%">{{ checksheet.portfolio3 }}</td>
    </tr>
    <tr>
      <th scope="row">HONR Portfolio 4</th>
      <td width="70%">{{ checksheet.portfolio4 }}</td>
    </tr>
     
  </tbody>
</table>

  <h3><font color=5b6ab9>Additional Requirements</font></h3>

  <table class="table table-bordered">

  <tbody>
    <tr>
      <th scope="row">Initial Essay Date</th>
      <td width="70%">{{ checksheet.initialEssayDate.strftime('%m-%d-%Y') }}</td>
    </tr>
    <tr>
      <th scope="row">Leadership</th>
      <td width="70%">{{ checksheet.leadership }}</td>
    </tr>
    <tr>
      <th scope="row">Mentoring</th>
      <td width="70%">{{ checksheet.mentoring }}</td>
    </tr>
    <tr>
      <th scope="row">Exit Interview</th>
      <td width="70%">{{ checksheet.exit}}</td>
    </tr>
    <tr>
      <th scope="row">Initial Essay Date</th>
      <td width="70%">{{ checksheet.initialEssayDate.strftime('%m-%d-%Y') }}</td>
    </tr>
  </tbody>
</table>
            </div>
        </div>
        
{% endblock %}